.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
  background-color: #f1f5f9;
  font-family: 'Arial', sans-serif;

}


.title {
  font-size: 60px;
  color: #2c3e50;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.user-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
}

.user-card {
  width: calc(30% - 40px);
  max-width: 300px;
  padding: 20px;
  background: #ffffff;
  border: 2px solid #dee2e6;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 28px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.user-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.user-name,
.user-age {
  margin: 10px 0;
  color: #495057;
}

.edit-button {
  padding: 10px 15px;
  background: #0a0a0a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.edit-button:hover {
  background: #052b4b;
}


